/* General styles */
.navbarLink {
    @apply  text-white/80 no-underline relative prose prose-xl font-semibold inline-flex items-center
    hover:text-white transition duration-300 ease-in-out
    after:bg-white/80 after:top-8 after:left-0 after:duration-300 after:origin-center after:w-full after:absolute
    after:hover:origin-center;
}
.navbarLink::after {
    content: '';
    transform: scaleX(0);
    height: 2px;
}
.navbarLink:hover::after {
    transform: scaleX(1);
}

/* credits to https://blog.logrocket.com/create-responsive-mobile-menu-with-css-no-javascript/ for inspiration*/
/* Mobile resolution styles (hamburger button nav bar) */
.menu {
    width: 100vw;
    height: max-content;
    max-height: 0%;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    left:0;
    position: fixed;
    overflow: hidden;
    @apply bg-slate-600;
    transition: all .5s ease-out;
}

.hamb {
    cursor: pointer;
    float: right;
    padding: 15px 5px;
}

.hambLine {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    transition: all 0.2s;
} 
.hambLine::before,
.hambLine::after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hambLine::before {
    top: 7px;
}
.hambLine::after {
    top: -7px;
}

/* Toggle menu icon */
.sideMenu:checked ~ .menu {
    max-height: 200%;
}
.sideMenu:checked ~ .hamb .hambLine {
    background: transparent;
}
.sideMenu:checked ~ .hamb .hambLine::before {
    transform: rotate(-45deg);
    top:0;
}
.sideMenu:checked ~ .hamb .hambLine::after {
    transform: rotate(45deg);
    top:0;
}