.navbarLink {
    @apply  text-white/80 no-underline relative prose prose-xl font-semibold inline-flex items-center w-fit
    hover:text-white transition duration-300 ease-in-out
    after:bg-white/80 after:top-8 after:left-0 after:duration-300 after:origin-center after:w-full after:absolute
    after:hover:origin-center;
}
.navbarLink::after {
    content: '';
    transform: scaleX(0);
    height: 2px;
}
.navbarLink:hover::after {
    transform: scaleX(1);
}

.menu {
    width: 100vw;
    height: max-content;
    max-height: 3rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    position: absolute;
    overflow: hidden;
    @apply bg-slate-600 space-y-2;
    transition: all .5s ease-out;
}

/* Toggle menu icon */
.expanded {
    max-height: 600%;
}
